{% extends 'base.html' %}


<head>
    <title>Italian Restaurant</title>
</head>

<body>
{% block content %}
<!-- Main page -->

<div id="first">
   <img src="/static/logos/home_logo.jpg" id="home-logo">
</div>

<!-- About page -->

<div id="about">
    <div class="container px-2">
        <div class="row">
            <div class="col-lg-4">
                <h2>Dlaczego warto wybrać PALKA ?</h2><br>
                <p>Lorem ipsum dolor sit amet, ei elit facilisi definitionem per, vis munere epicuri ne, ad duo quaeque convenire sapientem.
                    Saepe fastidii argumentum ad sea. Solet doctus adolescens his id.
                    In nam natum voluptatum.
                    Lorem ipsum dolor sit amet, ei elit facilisi definitionem per.

                </p>
            </div>
            <div class="col-sm-6">
              <img src="/static/logos/about.jpg" class="img-responsive" >
            </div>
        </div>
    </div>

</div>

<!-- Menu page -->

<div id="menu">
    <div class="container">
        <br>
      <h1>MENU</h1>
        <br><br><br>
      <div class="row justify-content-md-center">
          <div class="col-sm-3">
              <a href="{% url 'menu' %}"><img src="/static/logos/cold-starters.jpg" class="img-responsive"></a>
              <a href="{% url 'menu' %}"><div class="text-block">
                    <h5>PRZYSTAWKI ZIMNE</h5>
              </div></a>
          </div>
          <div class="col-sm-3">
              <a href="{% url 'menu' %}#cieple"><img src="/static/logos/hot-starters.jpg" class="img-responsive"></a>
              <a href="{% url 'menu' %}#cieple"><div class="text-block">
                    <h5>PRZYSTAWKI CIEPŁE</h5>
              </div></a>
          </div>
          <div class="col-sm-3">
              <a href="{% url 'menu' %}#salaty"><img src="/static/logos/salads.jpg" class="img-responsive"></a>
              <a href="{% url 'menu' %}#salaty"><div class="text-block">
                    <h5>SAŁATY</h5>
              </div></a>
          </div>
          <div class="col-sm-3">
              <a href="{% url 'menu' %}#pasty"><img src="/static/logos/pasta.jpg" class="img-responsive"></a>
              <a href="{% url 'menu' %}#pasty"><div class="text-block">
                    <h5>PASTY</h5>
              </div></a>
          </div>
      </div>
      <br><br>
      <div class="row justify-content-md-center">
          <div class="col-sm-3">
              <a href="{% url 'menu' %}#zupy"> <img src="/static/logos/soup.jpg" class="img-responsive"></a>
              <a href="{% url 'menu' %}#zupy"><div class="text-block">
                    <h5>ZUPY</h5>
              </div></a>
          </div>
          <div class="col-sm-3">
              <a href="{% url 'menu' %}#burgery"><img src="/static/logos/burger.jpg" class="img-responsive"></a>
              <a href="{% url 'menu' %}#burgery"><div class="text-block">
                    <h5>BURGERY</h5>
              </div></a>
          </div>
          <div class="col-sm-3">
              <a href="{% url 'menu' %}#quesadillas"><img src="/static/logos/quesadilla.jpg" class="img-responsive"></a>
              <a href="{% url 'menu' %}#quesadillas"><div class="text-block">
                    <h5>QUESADILLAS</h5>
              </div></a>
          </div>
          <div class="col-sm-3">
              <a href="{% url 'menu' %}#glowne"><img src="/static/logos/hot-meal.jpg" class="img-responsive"></a>
              <a href="{% url 'menu' %}#glowne"><div class="text-block">
                    <h5>DANIA GŁÓWNE</h5>
              </div></a>
          </div>
      </div>
      <br><br>
      <div class="row justify-content-md-center">
          <div class="col-sm-3">
              <a href="{% url 'menu' %}#desery"><img src="/static/logos/deserts.jpg" class="img-responsive"></a>
              <a href="{% url 'menu' %}#desery"><div class="text-block">
                    <h5>DESERY</h5>
              </div></a>
          </div>
          <div class="col-sm-3">
              <a href="{% url 'menu' %}#napoje"><img src="/static/logos/drinks.jpg" class="img-responsive"></a>
              <a href="{% url 'menu' %}#napoje"><div class="text-block">
                    <h5>NAPOJE</h5>
              </div></a>
          </div>
          <div class="col-sm-3">
              <a href="{% url 'whine' %}"><img src="/static/logos/alcohol.jpg" class="img-responsive"></a>
              <a href="{% url 'whine' %}"><div class="text-block">
                    <h5>ALKOHOLE</h5>
              </div></a>
          </div>
          <div class="col-sm-3">
              <a href="{% url 'cocktails' %}"><img src="/static/logos/cocktail.jpg" class="img-responsive"></a>
              <a href="{% url 'cocktails' %}"><div class="text-block">
                    <h5>KOKTAJLE</h5>
              </div></a>
          </div>
      </div>
  </div>
</div>

<!-- NEWS page -->

<div id="newsy">
    <h1>NEWS</h1>
    <br>
  <div class="container">
      <div class="row justify-content-between">
          <div class="col-sm-4 align-self-start">
              <a href="#"><img src="/static/logos/cocktail.jpg" class="img-responsive"></a>
          </div>
          <div class="col-sm-6 align-self-start">
              <h2>#Lorem ipsum</h2>
              <p>
                  Lorem ipsum dolor sit amet enim. Etiam ullamcorper.
                  Suspendisse a pellentesque dui, non felis.
              </p>
          </div>
      </div>
      <br>
      <div class="row justify-content-between">
          <div class="col-sm-6 align-self-center">
              <h2>#Lorem ipsum</h2>
              <p>
                  Lorem ipsum dolor sit amet enim. Etiam ullamcorper.
                  Suspendisse a pellentesque dui, non felis.
              </p>
          </div>
          <div class="col-sm-4 align-self-center">
              <a href="#"><img src="/static/logos/cocktail.jpg" class="img-responsive"></a>
          </div>
      </div>
      <br>
      <div class="row justify-content-between">
          <div class="col-sm-4 align-self-end">
              <a href="#"><img src="/static/logos/cocktail.jpg" class="img-responsive"></a>
          </div>
          <div class="col-sm-6 align-self-end">
              <h2>#Lorem ipsum</h2>
              <p>
                  Lorem ipsum dolor sit amet enim. Etiam ullamcorper.
                  Suspendisse a pellentesque dui, non felis.
              </p>
          </div>
      </div>
      <br>
  </div>
</div>

<!-- Contact page -->

<div id="kontakt">
    <div id="map">
        <iframe frameborder="0" src=
            "https://www.google.com/maps/embed/v1/place?zoom=15&center=52.2297,21.0122&key=AIzaSyD0fP9jGUEf8Z-DID0NKzMMOpHrX3HfL_I&q=52.230054, 21.011317"
         >
        </iframe>
    </div>
    <div id="kontakt-mail">
        {% csrf_token %}
        <div class="fieldWrapper">
            <div class="row align-items-start">
                <div class="col-sm-4">
                    <h5>Imię i nazwisko</h5>
                    {{ form.contact_name }}
                </div>
                <div class="col-sm-4">
                    <h5>Telefon</h5> {{ form.phone_number}}
                </div>
                <div class="col-sm-4">
                    <h5>Email</h5> {{ form.from_email }}
                </div>

                <div class="col-sm-12 py-2">
                    <h5>Wiadomość</h5> {{form.message}}
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-sm-auto">
                    <button class="send" type="submit">
                        Wyślij wiadomość
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
{% endblock %}
</html>