<!DOCTYPE html>

{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KARTA WIN - PALKA Restaurant</title>
</head>
<body>
{% block content %}
<div id="lunch">
    <div class="container">
        <h4>Poniedziałek XX-YY</h4>
        <br>
        <p>Lorem ipsum</p>
                *
        <br>
        <p>Lorem ipsum</p>
                *
        <p>Lorem ipsum</p>
        <br>
        <h4>Wtorek XX-YY</h4>
        <br>
        <p>Lorem ipsum</p>
                *
        <br>
        <p>Lorem ipsum</p>
                *
        <p>Lorem ipsum</p>
        <h4>Środa XX-YY</h4>
        <br>
        <p>Lorem ipsum</p>
                *
        <br>
        <p>Lorem ipsum</p>
                *
        <p>Lorem ipsum</p>
        <br>
        <h4>Czwartek XX-YY</h4>
        <br>
        <p>Lorem ipsum</p>
                *
        <br>
        <p>Lorem ipsum</p>
                *
        <p>Lorem ipsum</p>
        <h4>Piątek XX-YY</h4>
        <br>
        <p>Lorem ipsum</p>
                *
        <br>
        <p>Lorem ipsum</p>
                *
        <p>Lorem ipsum</p>
        <p><b>ZUPA + DANIE GŁÓWNE + DESER    19,90</b></p>
    </div>
</div>

{% endblock %}
</body>
</html>