.img-responsive {
    max-width: 100%;
    height: auto;
}
h1 {
    font-weight: bold;
}

#first {
    width: 100%;
    height: 100vh;
}

#about {
    width: 100%;
    min-height: 100vh;
    background-image: url("/static/logos/back2.jpg");
    font-size: 20pt;
    padding-top: 100px;
    font-weight:bold;
}
#about h2 {
    font-size: 34pt;
    font-weight: bold;
}
#about-img {
    height: 75vh;
    width: 150%;
}

#menu {
    padding-top: 100px;
    width: 100%;
    min-height: 100vh;
    color: white;
    text-align: center;
    background-image: url("/static/logos/back3.png");
}

#newsy {
    padding-top: 100px;
    width: 100%;
    min-height: 100vh;
    background-color: white;
    text-align: center;
}
#newsy p {
    font-size: 16pt;
}
#newsy h2 {
    font-weight: bold;
}
#promo {
    width: 100%;
    min-height: 100vh;
    background-color: yellow;
}
#lunch {
    width: 100%;
    min-height: 100vh;
    background-color: green;
}
#kontakt {
    width: 100%;
    min-height: 100vh;
    background-color: yellow;
}
footer {
    background-color: #3A3737;
}
footer p,footer h3{
    color: white;
}
nav {
    background-color: #3A3737;
}
nav a {
    font-weight: bold;
    font-size: 12pt;
}
.logo {
    height: 60px;
    margin-left: 10px;
}
.dropdown-menu {
    background-color: #3A3737;
    color: white;
}
.dropdown-menu a {
    color: white;
    font-weight: bold;
}
#home-logo {
    height: 100vh;
    width: 100%;
}

@media only screen and (max-width: 992px){
    .img-responsive {

    }
    #about h2 {
        font-size: 38pt;
        font-weight: bold;
    }
    #about p {
        font-size: 16pt;
        font-weight: bold;
    }
}

@media only screen and (max-width: 768px){
    .img-responsive {

    }
    #about h2 {
        font-size: 26pt;
        font-weight: bold;
    }
    #about p {
        font-size: 14pt;
        font-weight: bold;
    }
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background: none;
  font-size: 30pt;
  cursor: pointer;
}
.col-sm-3 {
    position:relative;
}
.text-block {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 75%;
    height: 60%;
    padding: 2%;

}
.text-block h4 {
    position: absolute;
    text-align: center;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

