
#first {
    width: 100%;
    height: 100vh;
    background-color: red;
}

#second {
    width: 100%;
    height: 100vh;
    background-color: blue;
}

#third {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: yellow;
}

#fourth {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: green;
}

footer {
    background-color: #3A3737;
}
footer p,footer h2{
    color: white;
}
nav {
    background-color: #3A3737;
}
nav a {
    font-weight: bold;
    font-size: 12pt;
}
.logo {
    height: 80px;
    width: 80px;
    margin-left: 50px;
}
.dropdown-menu {
    background-color: #3A3737;
    color: white;
}
.dropdown-menu a {
    color: white;
    font-weight: bold;
}
